/**
 * Area
 */

.area {
  @extend %__section;
  @extend %__cover;

  @media (max-width: $breakpointSm - 0.1) {
    margin-top: 6rem;
    padding-top: 6rem;
  }

  &__inner {
    @extend %__inner;
  }

  &__heading {
    @extend %__heading;
  }

  &__headingInner {
    @extend %__headingInner;
  }

  &__map {
    display: none;
    margin: auto;
    
    @media (max-width: $breakpointSm - 0.1) {
      &.--mb {
        display: block;
        width: min(100%, 20rem);
      }
    }
    
    @media (min-width: $breakpointSm) {
      &.--lg {
        display: block;
        width: min(100%, 48rem);
      }
    }
  
    svg {
      .cls-1 {
        fill: $white;
        transition: all 0.25s ease-in-out;

        @at-root .cls-0:hover .cls-1 {
          fill: $pink;
        }
      }

      .cls-2 {
        fill: $black;
        transition: all 0.25s ease-in-out;

        @at-root .cls-0:hover .cls-2 {
          fill: $white;
        }
      }
    }
  }

  &__textbox {
    display: none;

    @media (min-width: $breakpointSm) {
      position: absolute;
      top: 12rem;
      left: 5%;
      display: block;
      width: 12rem;
      height: 12rem;
      padding: 1.75rem;
      background: url("./assets/circularTextBox.svg") no-repeat center center / contain scroll;
      font-size: 0.8rem;
      text-align: justify;
    }
  }

  &__image {
    display: none;

    @media (min-width: $breakpointSm) {  
      position: absolute;
      bottom: 3rem;
      right: 2.5%;
      display: block;
      width: 42.5%;
    }
  }
}
