/**
 * Header
 * タイトルとボタンを含むが、#mainVisualに重ねる空白のコンテナとして役目を担う
 * 高さは100vhだが、絶対配置のボタンエリアが6rem追加される
 */

.header {
  position: relative;
  width: 100%;
  aspect-ratio: 0.5;

  @media (min-width: $breakpointSm) {
    aspect-ratio: 1.5;
  }

  @media (min-width: $breakpointMd) {
    aspect-ratio: initial;
    height: 100vh;
  }
  
  &__title {
    display: none;

    @media (min-width: $breakpointSm) {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      padding: 0.75rem 6rem;
      color: $pink;
      font-size: 1rem;
      letter-spacing: 0.1em;
    }
  }

  &__maintitle {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
  }

  &__subtitle {
    display: inline-block;
    font-size: 0.65rem;
    vertical-align: middle;
  }

  &__buttonWrap {
    position: absolute;
    top: 100%;
    height: 6rem;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: $white;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 100%;
      width: 100%;
      aspect-ratio: 20;
      background: url("./assets/wave.svg") no-repeat 0 0 / cover scroll;
      transform: translateY(-0.5rem) scaleY(2.5);

      @media (min-width: $breakpointSm) {
        transform: initial;
      }
    }
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    display: block;
    width: min(87.5%, 24rem);
    height: 3rem;
    margin: auto;
    border: 2px solid $pink;
    border-radius: 1.5rem;
    background-color: $white;
    color: $pink;
    font-size: 1rem;
    line-height: 3rem;
    text-align: center;
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: $pink;
      color: $white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 1.125rem;
      bottom: 0;
      width: 1.125rem;
      height: 1.125rem;
      margin: auto;
      border-radius: 50%;
      background: url("./assets/chevron-down.svg") no-repeat center center / contain scroll;
    }
  }
}
