/**
 * Main Visual
 */

%__mainVisual {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 0.4;
  background: url("./assets/bg_mb.jpg") no-repeat center center / cover scroll;

  @media (min-width: $breakpointSm) {
    aspect-ratio: 1.33;
    background-image: url("./assets/bg_main.jpg");
  }
}

.header.--mainVisual {
  position: relative;
  z-index: 1;
  @extend %__mainVisual;
}

.cover.--mainVisual {
  position: fixed;
  z-index: -1;
  @extend %__mainVisual;
}
