/**
 * Review
 */

.review {
  position: relative;
  display: block;
  margin-top: 12rem;
  background-color: $white;

  &__inner {
    @extend %__inner;
  }

  &__heading {
    @extend %__heading;
  }

  &__headingInner {
    @extend %__headingInner;
  }

  &__case {
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0.75rem 0;
    border: 1px solid $blue;

    @media (min-width: $breakpointLg) {
      width: 87.5%;
    }

    @at-root .review__case:nth-of-type(even) {
      border-color: $red;

      @media (min-width: $breakpointLg) {
        margin-left: 12.5%;
      }
    }
  }

  &__num {
    position: absolute;
    top: -0.75rem;
    left: 6rem;
    width: 6rem;
    background-color: $white;
  }

  &__caseInner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__featured {
    flex: 0 1 15rem;
  }

  &__image {
    display: block;
    width: 9rem;
    margin: 0 auto;
  }
  
  &__desc {
    width: 15rem;
    height: 1.8rem;
    margin: auto;
    border: 1px solid $blue;
    border-radius: 0.9rem;
    color: $blue;
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.6rem;

    @at-root .review__case:nth-of-type(even) & {
      border-color: $red;
      color: $red;
    }
  }

  &__voice {
    flex: 0 1 20rem;
    padding: 0 0.75rem;
    color: $blue;
    line-height: 1.8;

    @at-root .review__case:nth-of-type(even) & {
      color: $red;
    }
  }

  &__content {
    font-size: 0.75rem;
    text-align: justify;
  }

  &__amount {
    flex: 0 1 7.5rem;
    padding: 0 0.75rem;
  }
}
