/**
 * Section
 * セクション共通の背景、inner、見出しを定義
 * 背景は、Mdサイズ時にグラデーションから画像に切り替え
 * 背景の波形は、Smサイズ時に変形
 * 見出しは、Smサイズ時のフォントサイズを増大
 */

%__section {
  position: relative;
  padding: 3rem 0;
}

%__cover {
  background: linear-gradient(135deg, #efeb64, #a3daf6);

  @media (min-width: $breakpointMd) {
    background: url("./assets/bg_sub.jpg") no-repeat center center / cover scroll;
  }

  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: 20;
    background: url("./assets/wave.svg") no-repeat 0 0 / cover scroll;
  }

  &::before {
    top: 0;
    left: 0;
    transform: rotate(180deg) translateY(-0.5rem) scaleY(2.5);

    @media (min-width: $breakpointSm) {
      transform: rotate(180deg);
    }
  }

  &::after {
    right: 0;
    bottom: 0;
    transform: translateY(-0.5rem) scaleY(2.5);

    @media (min-width: $breakpointSm) {
      transform: initial;
    }
  }
}

%__inner {
  position: relative;
  width: min(100%, 63rem); // 1260px 左右30pxずつpaddingで、内寸1200px
  margin: auto;
  padding: 0 clamp(0.75rem, 2.5%, 1.5rem) 3rem;
}

%__heading {
  margin: 3rem 0;
  text-align: center;
}

%__headingInner {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  color: $black;
  font-weight: 700;
  font-size: 1.5rem;

  @media (min-width: $breakpointSm) {
    font-size: 3rem;
  }

  &::before, &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 6px;
    bottom: 0;
  }

  &::before {
    left: 0;
    background-color: $red;
  }

  &::after {
    right: 0;
    background-color: $blue;
  }
}
