/**
 * Normarize
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: min(4.8vw, 20px);
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #ee7a7a;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #ee7a7a;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

/**
 * Section
 */